@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

/* ::-webkit-scrollbar {
  display: none;
} */

html,
body {
  background-color: var(--bgcolor);
  color: var(--font-color);
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  overflow-x: hidden;
}

input,
textarea,
select {
  font-size: 16px;
}

:root {
  --bgcolor: rgb(248, 250, 248);
  --font-color: #707070;
  --line-color: #f2f2f2;
  --info-container-color: rgb(248, 250, 248);
  --container-color2: #fefefe;
  --shadow-color: gray;
  --button-color: #189ad3;
  --toggle-back-color: #189ad3;
  --toggle-button-color: #fff;
  --toggle-position: -1px;
  --post-top-back-color: #189ad3;
  --post-top-font-color: rgba(255, 255, 255, 0.87);
  --post-tag-back-color: #189ad3;
  --post-em-back-color: #dedede;
}

[display-mode="dark"] {
  --bgcolor: #121212;
  --font-color: rgba(255, 255, 255, 0.87);
  --line-color: #121212;
  --info-container-color: #121212;
  --container-color2: #181818;
  --shadow-color: black;
  --button-color: #ffe699;
  --toggle-back-color: #ffe699;
  --toggle-button-color: #121212;
  --toggle-position: 51px;
  --post-top-back-color: #333;
  --post-top-font-color: rgba(255, 255, 255, 0.87);
  --post-tag-back-color: #1677a2;
  --post-em-back-color: rgb(100, 100, 100);
}

a {
  color: var(--font-color);
  text-decoration: none;
}
