@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
  color: var(--font-color);
  font-family: "Noto Sans KR", sans-serif;
}

input,
textarea,
select {
  font-size: 16px;
}

:root {
  --bgcolor: rgb(248, 250, 248);
  --font-color: #707070;
  --line-color: #f2f2f2;
  --container-color1: #caf7e3;
  --container-color2: #fefefe;
  --shadow-color: gray;
  --button-color: mediumaquamarine;
  --toggle-back-color: mediumaquamarine;
  --toggle-button-color: #fff;
  --toggle-position: 0px;
}

[display-mode="dark"] {
  --bgcolor: #0a1931;
  --font-color: #eee;
  --line-color: #0a1931;
  --container-color1: #0f2444;
  --container-color2: #0f2444;
  --shadow-color: black;
  --button-color: #ffe699;
  --toggle-back-color: #ffe699;
  --toggle-button-color: #0a1931;
  --toggle-position: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}
