.toggle-container {
  width: 80px;
  height: 30px;
  border-radius: 25px;
  background-color: mediumaquamarine;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 7px 0px #848484;
  box-shadow: inset 0px 0px 3px 0px #848484;
  outline: none;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--line-color);
  transform: translateX(0);
  transition: transform 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
